{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спортсмен</title>
     <link rel="stylesheet" href="{% static 'css/searchStyle'%}">
</head>
<body>
<table cellpadding=7>
    <tr>
    <th colspan="3" class="timeOnOlimp">Время на соревнованиях</th>
    </tr>
    <tr>
        <td class="distance">
            Дистанция
        </td>
        <td class="time">
            Время
        </td>
        <td class="date">
            Дата
        </td>
        {% for twoHundred in twoHundredList %}
    <tr>
        <td class="twoHundred">
            200
        </td>
        {% for twoHundredEl in twoHundred %}
        <td class="twoHundredEl">
            {{twoHundredEl}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% for fiveHundred in fiveHundredList %}
    <tr>
        <td class="fiveHundred">
            500
        </td>
        {% for fiveHundredEl in fiveHundred %}
        <td class="fiveHundredEL">
            {{fiveHundredEl}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% for thousand in thousandList %}
    <tr>
        <td class="thousand">
            1000
        </td>
        {% for thousandEl in thousand %}
        <td class="thousandEL">
            {{thousandEl}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<div id="home">
    <a id="url" href="/">Home</a>
</div>
<h2 id="name">{{sportsmanName}}</h2>
<b id="tm">Лучшее время на 200м : {{min200}}</b>
<b id="fm">Лучшее время на 500м : {{min500}}</b>
<b id="om">Лучшее время на 1000м : {{min1000}}</b>
</body>
</html>